// light mode colour palette
$primaryLight: #fafaf9;
$secondaryLight: #f6b5b8;
$tertiaryLight: #fa5ea7;
$quaternaryLight: #d6ecd7;
$quinaryLight: #7cdde2;

// dark mode color palette
$primaryDark: #ce2f30;
$secondaryDark: #5b2268;
$tertiaryDark: #e399f3;
$quaternaryDark: #2c282e;
$quinaryDark: #9c254f;

// font families
$serif: "Playfair Display", serif;
$sans: "Lato", sans-serif;
