// light mode colour palette
$primaryLight: #fafaf9;
$secondaryLight: #f6b5b8;
$tertiaryLight: #e667a2;
$quaternaryLight: #b3cbea;
$quinaryLight: #7cdde2;

// dark mode color palette
$primaryDark: #2c282e;
$secondaryDark: #ce2f30;
$tertiaryDark: #9c254f;
$quaternaryDark: #5b2268;
$quinaryDark: #a877b3;

// font families
$serif: "Playfair Display", serif;
$sans: "Lato", sans-serif;
